<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons >
        <ion-menu-button></ion-menu-button>
        <ion-title>HOME PAGE</ion-title>
        <ion-button slot="right" (click)="logOut()">
          <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-label>ACTIVE USER</ion-label>
    <p class="ion-text-center">User First Name: {{activeUser.first_name}}</p>
    <p class="ion-text-center">User Last Name: {{activeUser.last_name}}</p>
    <p class="ion-text-center">User Account-Type: {{activeUser.account_type}}</p>
    <p class="ion-text-center">User Address: {{activeUser.address}}</p>
    <p class="ion-text-center">User Telephone: {{activeUser.phone}}</p>
    <p class="ion-text-center">User Email: {{activeUser.email}}</p>
   <!-- <p class="ion-text-center">User Patient ID: {{activePatient.created_at}}</p> -->
  </ion-card>
</ion-content>
