<ion-content>
  <div>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
      <ion-back-button defaultHref="home-page"></ion-back-button>
      <ion-title>Contact</ion-title>
    </ion-buttons>
  </div>

  <div class="ion-padding">
    <p></p>
  </div>

  <ion-col *ngIf="activeUser.account_type === 'PATIENT'">
    <div *ngIf="activePatient">

      <p> Your doctor is {{activePatient.current_doctor.is_user.first_name}} {{activePatient.current_doctor.is_user.last_name}}</p>
      <p>Email: {{activePatient.current_doctor.is_user.email}}</p>
      <p>Phone Number: {{activePatient.current_doctor.is_user.phone}}</p>

    </div>
  </ion-col>

  <ion-col *ngIf="activeUser.account_type != 'PATIENT'">
    <p>not a patient shh</p>
  </ion-col>
</ion-content>
