<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
      <ion-back-button defaultHref="home-page"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">CONTACT</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content *ngIf="activeUser.account_type === 'PATIENT'">
    <ion-card>
      <div *ngIf="activePatient">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label> Your doctor is {{activePatient.current_doctor.is_user.first_name}} {{activePatient.current_doctor.is_user.last_name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Email: {{activePatient.current_doctor.is_user.email}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Phone Number: {{activePatient.current_doctor.is_user.phone}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-card>
  </ion-content>

<ion-content *ngIf="activeUser.account_type != 'PATIENT'">
  <ion-card>
    <ion-label>not a patient shh</ion-label>
  </ion-card>
</ion-content>
