<ion-content>

  <div>
      <ion-buttons slot="start">
        <ion-menu-button style="color: #fff;"></ion-menu-button>
        <ion-back-button defaultHref="home-page"></ion-back-button>
        <ion-title>Current Patient List</ion-title>
      </ion-buttons>
  </div>

  <div class="ion-padding">
    <p>FirstName LastName (Email)</p>
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let patient of fullPatientList let i = index">
      <ion-item>
        <ion-label>{{patient.user.first_name}} {{patient.user.last_name}} ({{patient.user.email}})</ion-label>
      </ion-item>
      <ion-item-options side="start" (ionSwipe)="test()">
        <ion-item-option (click)="flagPatient(patient)" expandable>Flag</ion-item-option>
        <ion-item-option color="secondary" (click)="test()">Message</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end" (ionSwipe)="delete(i)">
        <ion-item-option color="danger" (click)="delete(i)" expandable>
          <ion-icon name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>