<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-menu-button style="color: #fff;" slot="start"></ion-menu-button>
    <ion-title class="ion-text-center">{{activeUser.first_name}}'s DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-sm="8" offset-sm="2">
      <ion-card>
        <ion-card-header color="primary" class="ion-text-center">
          <ion-card-title style="font-size: 15px">Doctors/Patients</ion-card-title>
        </ion-card-header>
        <ion-row>
          <ion-col size="6">
            <ion-card>
              <ion-card-header color="primary" class="ion-text-center">
                <ion-card-subtitle>Doctors</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <ion-item>
                  <ion-label color="primary">Select Doctor</ion-label>
                <ion-select  interface="popover" value="doctor" okText="OK" cancelText="CANCEL" [(ngModel)]="doctorAssigned">
                  <!-- list of doctors sorted by their number of patients in ascending order -->
                  <div *ngFor="let doctor of doctors">
                  <ion-select-option value="{{doctor}}">({{doctor.patients.length}} patients) {{doctor.is_user.first_name}}  {{doctor.is_user.last_name}} </ion-select-option>
                  </div>
                </ion-select>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>




          <ion-col size="6">
            <ion-card>
              <ion-card-header color="primary" class="ion-text-center">
                <ion-card-subtitle>Patients</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-label color="primary">Select Patient</ion-label>
                  <ion-select interface="popover" value="patient" okText="OK" cancelText="CANCEL" [(ngModel)]="patientAssigned">
                    <!-- list of patients with no doctors -->
                    <div *ngFor="let patient of patients">
                      <ion-select-option value="{{patient}}" *ngIf="patient.current_doctor === null">{{patient.is_user.first_name}}  {{patient.is_user.last_name}}</ion-select-option>
                    </div>
                  </ion-select>
                </ion-item>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
        <ion-button shape="round" expand="full" fill="outline" color="primary" (click)="ngOnAssign()">Assign</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
