<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons >
      <ion-menu-button></ion-menu-button>
      <ion-title>MONITORING PATIENTS</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content *ngIf="activeUser.account_type === 'MEDICALDOCTOR' && complete == true"  padding>
  <ion-col>
    <ion-card *ngFor="let patient of fullPatientList">
      <ion-card-content *ngIf="patient.status">
      <ion-card-header>
        <ion-card-title>{{patient.first_name}} {{patient.last_name}} ({{patient.email}})</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle><b>Date</b></ion-card-subtitle>
        <ion-card-content>{{patient.status.date}}</ion-card-content>
        <ion-card-subtitle> Temperature</ion-card-subtitle>
        <ion-card-content>{{patient.status.temperature}} degrees Celsius</ion-card-content>
        <ion-card-subtitle> Weight</ion-card-subtitle>
      <ion-card-content>{{patient.status.weight}} lbs.</ion-card-content>
        </ion-card-content>
        <ion-list-header *ngIf="(patient.status.cough === false && patient.status.headache === false && patient.status.sore_throat === false && patient.status.fever === false && patient.status.loss_of_taste_or_smell === false && patient.status.tiredness === false); else symptoms">
          <ion-label>No Symptoms</ion-label>
        </ion-list-header>
        <ng-template #symptoms>
        <ion-list-header >Symptoms</ion-list-header>
        <ion-item *ngIf="patient.status.cough === true"><ion-card-content>Coughing</ion-card-content></ion-item>
        <ion-item *ngIf="patient.status.headache === true"><ion-card-content>Headache</ion-card-content></ion-item>
        <ion-item *ngIf="patient.status.sore_throat === true"><ion-card-content>Sore Throat</ion-card-content></ion-item>
        <ion-item *ngIf="patient.status.fever === true"><ion-card-content>Fever</ion-card-content></ion-item>
        <ion-item *ngIf="patient.status.loss_of_taste_or_smell === true"><ion-card-content>Loss of Taste or Smell</ion-card-content></ion-item>
        <ion-item *ngIf="patient.status.tiredness === true"><ion-card-content>Tiredness</ion-card-content></ion-item>
        </ng-template>
      </ion-card-content>

      <ion-card *ngIf="patient.status_history.length > 0">
        <div style="align-items: center; justify-content: center; display: grid; margin-bottom: 5px;">
          <ion-button expand="block" (click)="toggle(patient)">View older</ion-button>
        </div>
        <div *ngIf="patient.show">
          <ion-card-title>Status History of {{patient.first_name}} {{patient.last_name}}  ({{patient.email}})</ion-card-title>
          <ion-card *ngFor="let status of patient.status_history">
              <ion-card-content>
                <ion-card-subtitle><b>Date</b></ion-card-subtitle>
                <ion-card-content>{{status.date}}</ion-card-content>
                <ion-card-subtitle> Temperature</ion-card-subtitle>
                <ion-card-content>{{status.temperature}} degrees Celsius</ion-card-content>
                <ion-card-subtitle> Weight</ion-card-subtitle>
                <ion-card-content>{{status.weight}} lbs.</ion-card-content>
              </ion-card-content>
              <ion-list-header *ngIf="(status.cough === false && status.headache === false && status.sore_throat === false && status.fever === false && status.loss_of_taste_or_smell === false && status.tiredness === false); else symptoms">
                <ion-label>No Symptoms</ion-label>
              </ion-list-header>
              <ng-template #symptoms>
              <ion-list-header >Symptoms</ion-list-header>
              <ion-item *ngIf="status.cough === true"><ion-card-content>Coughing</ion-card-content></ion-item>
              <ion-item *ngIf="status.headache === true"><ion-card-content>Headache</ion-card-content></ion-item>
              <ion-item *ngIf="status.sore_throat === true"><ion-card-content>Sore Throat</ion-card-content></ion-item>
              <ion-item *ngIf="status.fever === true"><ion-card-content>Fever</ion-card-content></ion-item>
              <ion-item *ngIf="status.loss_of_taste_or_smell === true"><ion-card-content>Loss of Taste or Smell</ion-card-content></ion-item>
              <ion-item *ngIf="status.tiredness === true"><ion-card-content>Tiredness</ion-card-content></ion-item>
              </ng-template>
            </ion-card>
        </div>
      </ion-card>


      <ion-card-content *ngIf="patient.status == undefined">
        <ion-card-header>
          <ion-card-title>{{patient.first_name}} {{patient.last_name}} ({{patient.email}})</ion-card-title>
        </ion-card-header>
        <ion-list-header>No status to show.</ion-list-header>
      </ion-card-content>



    </ion-card>
  </ion-col>

</ion-content>

