<ion-content>
  <div>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
      <ion-back-button defaultHref="home-page"></ion-back-button>
      <ion-title>Incoming Messages</ion-title>
    </ion-buttons>
  </div>

  <div class="ion-padding">
    <p></p>
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let message of messages">
      <ion-item>
        <ion-label>{{message.message_content}}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
