<ion-content class="ion-padding ion-text-center" >
  <div class="container" style="background-color:white">
    <div class="page-header" style="font-family:'Roboto Mono', monospace;" >
      <h1>Covid Tracker</h1>
    </div>
    <div class="img-container" style="height: 50vh">
      <img style=" height: auto; max-height: 100%; align-self:center;"src="../../assets/icon/logonew.png" />
    </div>
    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/signin-page" routerDirection="forward">Log in</ion-button>
      <ion-button expand="block" style="color: black;" fill="clear" routerLink="/signup-page" routerDirection="forward">Signup</ion-button>
    </div>
  </div>
</ion-content>
