<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-menu-button style="color: #fff;" slot="start"></ion-menu-button>
    <ion-title class="ion-text-center">{{activeUser.first_name}}'s DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center & ion-padding">
  <!-- PATIENT DASHBOARD -->
  <ion-grid >
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-card>

          <ion-card-header color="primary" class="ion-text-center">
            <ion-card-title style="font-size: 15px">Schedule appointments with your patients </ion-card-title>
          </ion-card-header>

          <ion-row>
            <ion-col>
              <ion-card class="ion-no-padding, ion-no-margin">
                <ion-card-content>
                  <ion-row>
                    <ion-item class="ion-text-center">
                      <ion-label color="primary">Select Patient</ion-label>
                      <ion-select *ngIf="doctor" interface="popover"  [(ngModel)]="patient">
                        <!-- list of doctors sorted by their number of patients in ascending order -->

                          <ion-select-option *ngFor="let patient of doctor.patients" value="{{patient.id}}"> {{patient.is_user}}  {{patient.id}} </ion-select-option>

                      </ion-select>
                    </ion-item>
                  </ion-row>
                  <ion-row>
                    <ion-datetime [(ngModel)]="date" minute-values="0,30"></ion-datetime>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-button shape="round" expand="full" fill="outline" color="primary" (click)="ngOnAppointment()">Schedule appointment</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
