<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button style="color: #fff;"></ion-menu-button>
            <ion-back-button defaultHref="home-page"></ion-back-button>
          </ion-buttons>
        <ion-title>Manage Profiles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="search($event.target.value)"></ion-searchbar>
    <ion-list>
        <ion-item button (click)="buttonClick(user, i)" *ngFor="let user of displayedUsers; let i = index;">{{ user.username }}</ion-item>
    </ion-list>

    <br>

    <ion-list *ngIf="clicked" lines="full" class="ion-no-margin">
        <ion-list-header>
            <ion-label>User Details</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>First Name</ion-label>
            <ion-input [(ngModel)]="editedUser.first_name" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Last Name</ion-label>
            <ion-input [(ngModel)]="editedUser.last_name" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Account Type</ion-label>
            <ion-input [(ngModel)]="editedUser.account_type" readonly type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Telephone</ion-label>
            <ion-input [(ngModel)]="editedUser.phone" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input [(ngModel)]="editedUser.email" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Address</ion-label>
            <ion-input [(ngModel)]="editedUser.address" type="text"></ion-input>
        </ion-item>

        <ion-button type="submit" (click)="submit()">Submit</ion-button>
    </ion-list>

</ion-content>